.app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
}

.gameWindow {
  flex: 1;
}
