:root {
  --nc-blue: #0000aa;
  --nc-cyan: #00aaaa;
  --nc-white: #a8a8a8;
  --nc-bright-white: #ffffff;
  --nc-black: #000000;
  --font-stack: 'VT323', monospace;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--nc-black);
  font-family: var(--font-stack);
  font-size: 20px;
  overflow: hidden;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
}
